.container{
    display: inline-block;
}

.rowDiv{
    margin: 0;
    padding: 0;
}

.button{
    height: 3em;
    width: 3em;
}

.text-Clear{
    width:9em;
}

.text-0{
    width:6em;
}

.output{
    height: 3em;
    border: 1px solid red;
    position: relative;
}

.result{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2em;
}